body {
  background: linear-gradient(
    45deg,
    rgb(34, 255, 248),
    rgb(255, 98, 0),
    rgb(255, 213, 0)
  );
  background-size: 600% 600%;
  background-repeat: no-repeat;
  animation: backgroundAnim 15s ease infinite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  user-select: none;
  height: 100vh;
}

@keyframes backgroundAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#greet-text {
  color: #ffe5c8;
  position: fixed;
  top: 30%;
  left: 12%;
  font-size: 15vw;
  transition: ease-in-out 1s;
}

h1 {
  font-size: 4.5vw;
  opacity: 0;
  transition: ease-in-out 0.2s;
  color: #ffe5c8;
}

h2 {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 3.5vw;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

h3 {
  width: 100%;
  font-size: 3.5vw;
}

hr {
  width: 100%;
  border: 1px solid black;
  border-radius: 40%;
  margin: 0;
  margin-bottom: 20px;
}

.question-container {
  opacity: 0;
  margin: auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: ease-in-out 0.2s;
}

.question-container textarea {
  width: 80%;
  padding: 7px;
  border-radius: 15px;
  background-color: rgb(253, 219, 187);
}

.question-option {
  width: 30%;
  max-width: 300px;
  margin: 2% 0;
  padding: 1%;
  transition: ease-in-out 0.2s;
  border-radius: 15px;
}

.question-option img {
  margin: 0;
  border: 1px solid black;
  border-radius: 15px;
  width: 95%;
  transition: ease-in-out 0.2s;
}

.question-option p {
  font-size: 3vw;
  margin: 0;
  height: auto;
  padding: 0 5px;
  transition: ease-in-out 0.2s;
}

.selected-option {
  background-color: rgba(0, 0, 0, 0.5);
}

.selected-option img {
  transform: scale(0.9);
}

.selected-option p {
  color: white;
}

.question-image {
  width: 70%;
}

#next-button {
  opacity: 0;
  width: 50%;
  padding: 5px;
  border: none;
  background-color: rgb(253, 219, 187);
  border-radius: 20px;
  margin-top: 30px;
  font-size: 3.5vw;
  font-weight: bold;
}

#results-container {
  padding: 5px;
  display: none;
}

#results-container p {
  margin: 5px;
  font-size: 3.6vw;
  color: #ffe5c8;
}

#results-container hr {
  width: 100%;
  border: 1px solid #ffe5c8;
  border-radius: none;
  margin: 0;
}

#question-index {
  display: none;
}
